$("#product-quantity").html("<%= cart_size %>");
$('#<%= params[:product_id] %> .product-price').html("<%= total_product_price(@cart_item.presence || session[:cart][params[:product_id]]) %>")
$(".total-price").html("<%= total_price %>");
<% unless params[:quantity] %>
  $("#notice").html('<div class="alert alert-success">Added to cart.</div>');
  setTimeout(function(){
    $('.alert').slideUp(500);
  }, 2000);
<% end %>