<table class="table table-hover table-bordered">
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total Price</th>
    <th></th>
  </tr>
  <tbody class='products'>
    <% if @products.present? %>
      <%= render 'products' %>
    <% elsif current_user.try(:cart_items).try(:present?) %>
      <%= render 'cart_items' %>
    <% else %>
      <tr>
        <td colspan="6" class="text-center">Cart is empty</td>
      </tr>
    <% end %>    
  </tbody>
</table>
<div class="row pull-right">
  <% if current_user.try(:cart_items).try(:present?) || @products.present? %>
    <%= link_to "Checkout", new_order_path, class: "btn btn-success checkout" %>
  <% end %>
</div>