$("#<%= params[:product_id] %>").remove();
<% if session[:cart].keys.length == 0  && !user_signed_in? %>
  $(".products").html("<tr><td colspan='5' class='text-center'>Cart is empty</td></tr>");
  $(".checkout").addClass('hidden');
<% else %>
  $(".checkout").removeClass('hidden');
<% end %>
$("#product-quantity").html("<%= current_user.try(:cart_items).try(:length) || session[:cart].keys.length %>");
$(".total-price").html("<%= total_price %>");
$("#notice").html('<div class="alert alert-danger">Removed from cart.</div>');
setTimeout(function(){
  $('.alert').slideUp(500);
}, 2000);